
body {
	font-family: 'Noto Sans', sans-serif;
	background:#caebf2;
	
}

h1, h2, h3, h4 {
	font-family::'Roboto Mono', monospace;
	
}


p{
	color: green;

}
h2 {
	color:green;
}
.about-list-item{
	font-style: italic;
	
}
#my-new-name{
	color:blue;
	}
	
	.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


 .topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 15px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 5px 13px;
  margin-top: 8px;
  margin-right: 16px;
 background: #ddd;
  font-size: 17px;
  border: 2px solid #c9e6ff;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #a9a9a9;
}


  .topnav input[type=text] {
    border: 2px solid #c9e6ff;  
  }
.container{
	max-width:840px;
	margin: 0 auto;
}

.container >div {
	margin: 20px auto;
}

.intro{
	text-align: center;

}

.about-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.i-am {
	text-align: center;
}
.i-like {
	text-align: center;
}


.about-list{
	list-style: none;
}


@media (max-width: 480px){
	.about-grid{
		grid-template-columns:100%;
}
}

.projects-heading {
	text-align: center;
}

.content-project-image-wrapper {
    text-align: justify-self;
	padding:4%;
	position:relative;
	 width: [width of img];
	
}


.project-image-wrapper {
	justify-self: center;
	padding:4%;
	position:relative;
	
}






.project-image {
	border-radius: 5px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
	transition: all ease-in-out .2%;
	
}

.project-image:hover {
	filter: brightness(.75);
	box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}

.project-image-wrapper:hover >h3 {
	visibility:visible;
	
}

.project-image-wrapper >h3 {
	position: absolute;
	top:30%;
	left:30%;
	right:30%;
	transform: translate(-40%, -50%, -50%);
	color: white;
	visibility:hidden;
	z-index: 2;
	transition: all ease-in-out .2%;
	
}


.socialmedia{
	height: 40px;
	width: 40px;
	padding: 4px;
}



.projects-grid{
	display: grid;
	grid-template-columns:40% 40% 40%;
}

@media (max-width: 650px) {
	.projects-grid{
		grid-template-columns:100%;
	}
}


.links-and-contact {
	display: grid;
	grid-template-columns: 30% 70%;
	
}
 
.links  {
   justify-self: center;
   	
}

.links-list {
	list-style: none;
	padding: 0;
	display: grid;
    grid-template-columns: 50% 50%;
  
}


@media (mas.width:650px) {
	.links-and-contacts {
		grid-template-columns: 100%;
	}
}


.profile-picture {
	border-radius:50%;
	width: 150px;
	height: 150px:
	box-shadow: 0 4px 6px 0 rgb(34, 60, 100, 1);
	transition: all ease-in-out .2%;
}


.profile-picture:hover {
	box-shadow: 0 8px 12px 0 rgb(34, 60, 100, 0.16);
}

form input, textarea {
	padding:5px;
	#border-radius: 5px;
	border-width:2px;
	font-family:Verdana;
	width: 240px;	
}

form input[type="submit"] {
	width:250px;
}

.submit-button-wrapper {
	margin:20px 0;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient( to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) );
}